    <div id="contact">
        <h2>Get in Touch</h2>
        <h3>I would love to hear from you! Drop me a message and I will get back with you shortly.</h3>
        <a href="mailto:Preston@prestonhill.io">
            Preston@prestonhill.io
        </a>
        <div id="contact-form">
            <form method="POST" action="/thanks">
                <input type="hidden" name="_subject" value="Contact request from personal website" />
                <input type="text" name="name" placeholder="Your name" required>

                <input type="email" name="_replyto" placeholder="Your email" required>
                <textarea name="message" placeholder="Your message" required></textarea>
                <button type="submit">Send</button>
            </form>
        </div>
        <!-- End #contact-form -->
    </div>