<div id="experience" class="background-alt">
	<h2 class="heading">Experience</h2>
	<div id="experience-timeline">
		
		<div data-date="December 2017 – January 2018">
			<h3>JobLeads</h3>
			<h4></h4>
			<p>
				Created a job listing aggregator application to help Origin Code Academy graduates with job searches, as well as keep track
				of jobs they have applied to.
			</p>
		</div>

		<div data-date="November 2017 – December 2017">
			<h3>Delicious Deliveries</h3>
			<h4>Lead Developer</h4>
			<p>
				Full-stack, scalable food delivery application based off GrubHub. Utilized Google’s Location Matrix API to calculate optimal
				delivery times for customers and restaurants. Built with a React / Redux front-end, server side authentication, and Loopback
				and MongoDB backend.
			</p>
		</div>

		<div data-date="September 2017">
			<h3>San Diego Crime Watch</h3>
			<h4>Lead Developer</h4>
			<p>Created an application to map crime statistics in a given area of the city.
			</p>
		</div>
	</div>
</div>