<div id="projects" class="background-alt">
	<h2 class="heading">Projects</h2>
	<div class="container">
		<div class="row">
			<div class="project shadow-large">
				<div class="project-image">
					<img src="images/budget-tracker.jpg" alt="Budget Tracker App" title="Budget Tracker App"/>
				</div>

				<div class="project-info">
					<h3>Budget Tracker</h3>
					<p>
						Built a simple budget tracker utilizing React / Redux to display application interface.
					</p>
					<a href="https://ph-budget-tracker.herokuapp.com/" target="_blank">View Demo</a>
				</div>

			</div>

			<div class="project shadow-large">
				<div class="project-image">
					<img src="images/weather-app.jpg" alt="Weather App" title="Weather App"/>
				</div>

				<div class="project-info">
					<h3>Weather App</h3>
					<p>
						Built a weather app using axios to make requests to the Open Weather Map API and React / Redux for the frontend and state
						management.
					</p>
					<a href="https://ph-weather-app.herokuapp.com/" target="_blank">View Demo</a>
				</div>

			</div>

		</div>
	</div>
</div>